{% load static %}
<!DOCTYPE html>

    <html>

        <head>
            <title>MyNewJob</title>
            <meta charset="utf-8">
            <meta name="description" content="Find your next job with us">
            <meta name="keywords" content="Welder, Driver, Developer, Nursing, Work, Jobs">
            <meta name="author" content="TlalocDebug">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

            <link rel="stylesheet" type="text/css" href="{% static '' %}/admin/css/menu.css">
            <link rel="stylesheet" type="text/css" href="{% static '' %}/admin/css/content.css"> 
            <link rel="stylesheet" type="text/css" href="{% static '' %}/admin/css/fontawesome-all.min.css">    
            
            <style>   
            </style>
        </head>

    <body class="content">

        {% include "menu.html" %}

        {% block content %}

        {% endblock %}

    </body>

</html> 