{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="{% static '' %}admin/css/menu.css">
        <link rel="stylesheet" type="text/css" href="{% static '' %}admin/css/content.css"> 
        <link rel="stylesheet" type="text/css" href="{% static '' %}admin/css/fontawesome-all.min.css">  
        <link rel="stylesheet" type="text/css" href="{% static '' %}admin/css/slicknav.css">    
        <link rel="stylesheet" type="text/css" href="{% static '' %}admin/css/details.css">
    </head>

    <body >

        <section class="content"> 

            <div class="details-header">

                <div style="margin: 0px 50px; position: relative;">
                    <div style="font-size: 2.6em;">MY</div>
                    <div style="font-size: 14px; position: absolute; bottom: -5px;">NewJob</div>
                </div>
                <!-- Header Start -->
                
                <div >
                    <h3>Job Details</h3>
                </nav>
               
            </div>

        </section>

        {% for p in position %}

        <section class="content-inverse" >

            <div class="container">

                <div class="mobile-div">
                    <div class="mobile-div-centered">

                        <div class="main-job-title">{{p.job_title}}</div>
                        <div>Posted on {{p.last_update}}</div>

                    </div>
                </div>

            </div>
            

            <div class="container" style="padding: 50px;">

                <div class="row d-flex justify-content-center">

                    <div class="mobile-div">
                        <div class="mobile-div-centered">

                            <div class="col-3 col-sm-3 d-flex ">

                                <div class="details-icon">
                                    <i class="fas fa-map-marker-alt details-icon" ></i> 
                                </div>
                                <div class="details-icon-text">{{p.location}}</div><br>

                                <div class="details-icon">
                                    <i class="fas fa-dollar-sign details-icon" ></i> 
                                </div>
                                <div class="details-icon-text">$20.00/HR 40 HR/week</div><br> 

                                <div class="details-icon">
                                    <i class="fas fa-file-alt details-icon" ></i> 
                                </div>
                                <div class="details-icon-text">Permanent employment</div>

                            </div>
                    
                            <div class="col-3 col-sm-3 d-flex ">

                                <div class="details-icon">
                                    <i class="fas fa-id-card details-icon" ></i> 
                                </div>
                                <div class="details-icon-text">Full-time</div><br>

                                <div class="details-icon">
                                    <i class="fas fa-clock details-icon" ></i> 
                                </div>
                                <div class="details-icon-text">morning, afternoon, weekend</div><br>

                                <div class="details-icon">
                                    <i class="fas fa-calendar-alt details-icon" ></i> 
                                </div>
                                <div class="details-icon-text">Starts as soon as possible</div>

                            </div>

                        </div>
                    </div>

                </div>

                
            </div>

            <div class="container">

                <div class="mobile-div">
                    <div class="mobile-div-centered">
                        <div class="col-sm-6 d-flex">

                            <h4>Description</h4>
                            <div>{{p.description|safe}}</div>
            
                        </div>
                    </div>
                </div>

            </div>

            <div class="container">
                
                <div class="row d-flex justify-content-center">
                    
                    <div class="mobile-div">
                        <div class="mobile-div-centered">

                            <div class="col-sm-6 col-xs-10 d-flex " >
                                
                                <h3>Job Requirements</h3>
                                <br>

                                <h4>Languages</h4>
                                <div>English / French</div>
                    
                                <h4>Education</h4>
                                <div>Secondary</div>
                    
                                <h4>Experience</h4>
                                <div>No experience</div>
                                <br>
                            
                                <h3>Advantages</h3> 
                                <br>
                                <ul >
                                    <li>Comprehensive insurance </li>
                                    <li>Paid vacation</li>
                                    <li>Pension plan</li>
                                    <li>Over Time (x 1/2)</li>
                                </ul>

                            </div>
                    
                           
                        </div>
                    </div>

                </div>

            </div>

            <div class="container mobile-input" >
                
                <div class="row d-flex justify-content-center">
                    
                    <div class="mobile-div">
                        <div class="mobile-div-centered ">

                            <div class="col-sm-6 d-flex form-container" style="text-align: center;">
                                
                                <form action='actionUrl' method='POST' enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <label for="">Position: {{p.job_title}}</label><br>
                                    <input type="text" name="your_position" value={{p.job_title}} style="display: none;"><br>
                                    <label for="">Name:</label><br>
                                    <input type="text" name="your_name"><br>
                                    <label for="">Email:</label><br>
                                    <input type="text" name="your_email"><br>
                                    <label for="">Phone</label><br>
                                    <input type="text" name="your_phone"><br><br>
                                    <label for="file-input" class="label-file-input">Attache your CV</label><br>
                                    <input type="file" name="your_file" accept=".pdf" id="file-input"><br>
                                    <button type='submit' class="apply-now" style="padding: 10px 30px !important; border-radius: unset !important;">Apply Now</button>
                                </form>

                            </div>

                        </div>
                    </div>

                </div>

            </div>

            <div class="container fadeInRight desktop-input" id="mymovingdiv">
                
                <div class="row d-flex justify-content-center">
                    
                    <div class="mobile-div">
                        <div class="mobile-div-centered ">

                            <div class="col-sm-7 d-flex " style="text-align: center;">

                            </div>

                            <div class="col-sm-5 d-flex form-container" style="text-align: center;">
                                
                                <form action='actionUrl' method='POST' enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <label for="">Position: {{p.job_title}}</label><br>
                                    <input type="text" name="your_position" value={{p.job_title}} style="display: none;"><br>
                                    <label for="">Name:</label><br>
                                    <input type="text" name="your_name"><br>
                                    <label for="">Email:</label><br>
                                    <input type="text" name="your_email"><br>
                                    <label for="">Phone</label><br>
                                    <input type="text" name="your_phone"><br><br>
                                    <label for="file-input" class="label-file-input">Attache your CV ...</label><br>
                                    <input type="file" name="your_file" accept=".pdf" id="file-input"><br>
                                    <button type='submit' class="apply-now" style="padding: 10px 30px !important; border-radius: unset !important;">Apply Now</button>
                                </form>

                            </div>

                        </div>
                    </div>

                </div>

            </div>
        
        {% endfor %}
            
        </section>

        <div style="width: 100%; height: 50px; background-color: black;"></div>
        
        <script>

            window.addEventListener("scroll", (event) => {
                let scroll = this.scrollY;
                setTimeout(function(){
                    document.getElementById("mymovingdiv").style.top = scroll+200+"px";
                }, 200);
            });
            
        </script>

    </body>
</html>


