{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>

<html>

    <head>  
    </head>

    <body >
       
        {% block content %}

            <section>
                <div class="container" style="padding: 100px 0px;">
                    <div class="row justify-content-center">
                        
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="mobile-div">
                                <div class="mobile-div-centered">
                                    <span class="fadeInLeft" style="color: #00bb2d; font-size: 3em; font-weight:600;">Find your next job now. </span>
                                    <h1  >Staffing and Recruiting Experts<br>in the Greater Montreal Area.</h1>
                                    <!-- <p data-animation="fadeInLeft" data-delay=".8s">we support people and organizations in realizing their true potential. moving them forward.
                                    </p> -->
                                    <p  >By supporting recruitment for a wide range of industries across the Greater Montreal area, we have a deep understanding of the region’s job market and hiring environment. Whether you need remote or on-site staff, we can help. </p><br>
                                    <p  >Our Montreal recruitment agencies provide personalized service and utilize matching technology that incorporates decades of placement data to help businesses find the right temporary or full-time professionals. From downtown Montreal to Laval, West Island, and beyond, companies of all types and sizes look to our staffing experts to help them find skilled job candidates. </p>
                                </div>
                            </div>
                        </div>
                            
                    </div>
                </div>
            </section>

            <section id="services">
                <div class="container">

                    <div class="row justify-content-center">
                        <div class="col-xl-12">
                            <div class="section-tittle text-center mb-105">
                                <h2>Services</h2>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center" style="padding: 80px 0px;">
                        
                        <div class="col-lg-4 col-md-12 col-sm-3">
                            <div class="mobile-div">
                                <div class="mobile-div-centered">
                                    <i class="fas fa-chart-line icon-services" ></i>
                                    <h3 >Powerful Connections</h3>
                                    <p>The ability to combine recruiting, employee screening, onboarding with payroll and other benefits services creates an efficient flow of data across your employee lifecycle.</p>    
                                </div>
                            </div>
                            
                        </div>

                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="mobile-div">
                                <div class="mobile-div-centered">
                                    <i class="fas fa-user-check icon-services" ></i>                              
                                    <h3 >Service When you Need It</h3>
                                    <p>What happens when you have a question? You’ll get answers when you need them and where you need them, online or over the phone from our 24/7 Dedicated Service Center.</p>    
                                </div>
                            </div>
                            
                        </div>

                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="mobile-div">
                                <div class="mobile-div-centered">
                                    <i class="fas fa-user-friends icon-services" ></i>                                 
                                    <h3 >Dedicated HR Advice</h3>
                                    <p>We give you the option ;to work directly with a dedicated HR professional who is familiar with your business to help explain your compliance obligations and provide input on how to keep your policies up to date.</p>    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </section>

            <section id="industries" class="content-inverse" style="padding: 80px 0px;">
                <div class="container">

                    <div class="row justify-content-center" style="padding-bottom: 80px;">
                        <div class="col-xl-12 col-lg-12">
                            <div class="section-tittle text-center mb-90">
                                <h2 >Industries Served</h2>
                            </div>
                        </div>
                    </div>
        
                    <div class="row justify-content-center" >

                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="mobile-div"> 
                                <div class="industry-card" >
                                    <div>
                                        <div class="flip-card">
                                            <div class="flip-card-inner">
                                                <div class="flip-card-front">
                                                    <i class="fas fa-ambulance icon-industries"></i>
                                                </div>
                                                <div class="flip-card-back">
                                                    <span class="fa-stack fa-2x" >
                                                        <i class="fas fa-circle fa-stack-2x icon-industries" ></i>
                                                        <i class="fas fa-ambulance fa-stack-1x fa-inverse "></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <h4 class="service-tittle">Nursing</h4>
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="mobile-div"> 
                                <div class="industry-card">
                                    <div>
                                        <div class="flip-card">
                                            <div class="flip-card-inner">
                                                <div class="flip-card-front">
                                                    <i class="fas fa-industry icon-industries"></i>
                                                </div>
                                                <div class="flip-card-back">
                                                    <span class="fa-stack fa-2x" >
                                                        <i class="fas fa-circle fa-stack-2x icon-industries" ></i>
                                                        <i class="fas fa-industry fa-stack-1x fa-inverse "></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <h4 class="service-tittle">Welding</h4>
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="mobile-div"> 
                                <div class="industry-card">
                                    <div>
                                        <div class="flip-card">
                                            <div class="flip-card-inner">
                                                <div class="flip-card-front">
                                                    <i class="fas fa-truck-moving icon-industries"></i>
                                                </div>
                                                <div class="flip-card-back">
                                                    <span class="fa-stack fa-2x" >
                                                        <i class="fas fa-circle fa-stack-2x icon-industries" ></i>
                                                        <i class="fas fa-truck-moving fa-stack-1x fa-inverse "></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <h4 class="service-tittle">Driver</h4>
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="mobile-div"> 
                                <div class="industry-card">
                                    <div>
                                        <div class="flip-card">
                                            <div class="flip-card-inner">
                                                <div class="flip-card-front">
                                                    <i class="fas fa-code icon-industries"></i>
                                                </div>
                                                <div class="flip-card-back">
                                                    <span class="fa-stack fa-2x" >
                                                        <i class="fas fa-circle fa-stack-2x icon-industries" ></i>
                                                        <i class="fas fa-code fa-stack-1x fa-inverse "></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <h4 class="service-tittle">Development</h4>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    
                    </div>
                </div>
            </section>
                    
            
            <section id="industries" class="content-inverse" style="padding: 80px 0px;">

                <div class="container-fluid">

                    <div class="row justify-content-center " style="padding-bottom: 80px;">

                        <div class="col-md-12 text-center">
                            <h2 class="">Partners Who Trust Us</h2>
                        </div>

                    </div>

                    <div class="row d-flex justify-content-center">

                        <div class="col-3 col-sm-3 d-flex ">
                            <div class="company-logo">
                                <img src="{% static '' %}admin/img/celestica.jpg" alt="My image">
                            </div>
                        </div>
                   
                        <div class="col-3 col-sm-3 d-flex ">
                            <div class="company-logo">
                                <img src="{% static '' %}admin/img/radial.jpg" alt="My image">
                            </div>
                        </div>

                        <div class="col-3 col-sm-3 d-flex ">
                            <div class="company-logo">
                                <img src="{% static '' %}admin/img/saje.png" alt="My image">
                            </div>
                        </div>

                        <div class="col-3 col-sm-3 d-flex ">
                            <div class="company-logo">
                                <img src="{% static '' %}admin/img/sci.jpg" alt="My image">
                            </div>
                        </div>

                    </div>
        
                </div>
           
            </section>  

            <section class="content-inverse" style="padding: 80px 0px;">

                <div class="container">

                    <div class="row justify-content-center " style="padding-bottom: 80px;">

                        <div class="col-md-12 text-center">
                            <h2 class="">Open positions</h2>
                        </div>

                    </div>

                    <div class="row justify-content-center">

                        <div class="mobile-div">
                            <div class="mobile-div-centered">
                                <div class="col-6 col-sm-6 ">

                                    <h3>Nursing</h3>
                                    <div style="width: 100%; display: flex; justify-content: space-between;">
                                        <div>Registered Nurse</div>
                                        <div>Montreal, Qc</div>
                                    </div>

                                    <div style="width: 100%; display: flex; justify-content: space-between;">
                                        <div>RN/RPN Covid Testing</div>
                                        <div>LAval, Qc</div>
                                    </div>

                                    <div style="width: 100%; display: flex; justify-content: space-between;">
                                        <div>DIRECTEUR(RICE) SOINS INFIRMIERS</div>
                                        <div>LAval, Qc</div>
                                    </div>

                                    <div style="width: 100%; display: flex; justify-content: space-between;">
                                        <div>Infirmier(ère) auxiliaire</div>
                                        <div>LAval, Qc</div>
                                    </div>

                                    <h3>Welding</h3>
                                    <div style="width: 100%; display: flex; justify-content: space-between;">
                                        <div>Welder</div>
                                        <div>Montreal, Qc</div>
                                    </div>

                                    <div style="width: 100%; display: flex; justify-content: space-between;">
                                        <div>MIG/TIG Welder</div>
                                        <div>LAval, Qc</div>
                                    </div>

                                    <div style="width: 100%; display: flex; justify-content: space-between;">
                                        <div>Inox Welder</div>
                                        <div>LAval, Qc</div>
                                    </div>

                                    <div style="width: 100%; display: flex; justify-content: space-between;">
                                        <div>Stick Welder</div>
                                        <div>LAval, Qc</div>
                                    </div>

                                    <h3>Driving</h3>
                                    <div style="width: 100%; display: flex; justify-content: space-between;">
                                        <div>Driver</div>
                                        <div>Montreal, Qc</div>
                                    </div>

                                    <div style="width: 100%; display: flex; justify-content: space-between;">
                                        <div>Truck Driver Class 1</div>
                                        <div>LAval, Qc</div>
                                    </div>

                                    <div style="width: 100%; display: flex; justify-content: space-between;">
                                        <div>Delivery Driver Montreal</div>
                                        <div>LAval, Qc</div>
                                    </div>

                                    <div style="width: 100%; display: flex; justify-content: space-between;">
                                        <div>CLASS 1 HIGHWAY DRIVERr</div>
                                        <div>LAval, Qc</div>
                                    </div>

                                    <h3>Developer</h3>
                                    <div style="width: 100%; display: flex; justify-content: space-between;">
                                        <div>C++ Developer</div>
                                        <div>Montreal, Qc</div>
                                    </div>

                                    <div style="width: 100%; display: flex; justify-content: space-between;">
                                        <div>Front End Web Developer</div>
                                        <div>LAval, Qc</div>
                                    </div>

                                    <div style="width: 100%; display: flex; justify-content: space-between;">
                                        <div>Web Developer</div>
                                        <div>LAval, Qc</div>
                                    </div>

                                    <div style="width: 100%; display: flex; justify-content: space-between;">
                                        <div>Software Developer</div>
                                        <div>LAval, Qc</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                   
                    </div>
        
                </div>

                {% for p in position %}
    
                   

                {% endfor %}

            </section>

            <section id="industries" style="padding: 80px 0px;">

                <div class="container-fluid">

                    <div class="row justify-content-center " style="padding-bottom: 80px;">

                        <div class="col-md-12 text-center">
                            <h2 class="">Contact</h2>
                        </div>

                    </div>

                    <div class="row align-items-center justify-content-between">
                        <div class="col-xl-7 col-lg-7 col-md-12">
                            <div class="about-caption about-caption3 mb-30   ">
                                

                                <div class="section-tittle section-tittle2 mb-30">
                                   
                                    <h2 class="text-white " style="color: white">Dedicated support</h2>
                                   
                                </div>
                              
                                <ul class="mb-30">
                                    <li class="d-block">
                                        

                                        For all staffing inquiries please reach out immediately to  <br>
                                        
                                        <a href="mailto:nahel@h2hressources.com"
                                        >pelondinho@hotmail.com</a>
                                    </li>
                                    <li>
                                        <i class="fas fa-map-marker-alt icon-service mr-4 p-0" style="font-size: 22px"></i> 
                                        2-1545 rue d'anjou, LAval, QC, H7G 3R6, 
                                    </li>

                                </ul>
                                <a href="tel:5142195891" class="btn" style="background: black"><i class="fas fa-phone-alt"></i>(514)
                                    219 5891</a> <br>
                                <a href="https://www.facebook.com/h2hresources" target="_blank" class="btn p-0"
                                style="background: black"><i class="fab fa-facebook fa-2x  p-0"></i></a>
                                <a href="https://www.linkedin.com/company/h2h-ressources/" target="_blank" class="btn p-0"
                                style="background: black"><i class="fab fa-linkedin fa-2x p-0"></i></a>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-8 col-sm-10">
                        <!-- about-img -->
                        <div class="about-img text-center">
                            <!--                        <img style="filter: invert(1) opacity(0.1);width:16vw;" src="{% static '' %}img/call.png" alt="">-->
                    </div>
                </div>
            </div>
        
                </div>
           
            </section>  

        {% endblock %}

    </body>

</html> 