{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>

<html>

    <head>  
    </head>

    <body >

        {% block content %}
            <div class="presentation-container">
                <div class="presentation-text">
                    <span class="fadeInLeft" style="color: #00bb2d; font-size: 1.3em; font-weight:600;">Find your next job now. </span>
                    <h1 data-animation="fadeInLeft" >Staffing and Recruiting Experts<br>in the Greater Montreal Area.</h1>
                    <!-- <p data-animation="fadeInLeft" data-delay=".8s">we support people and organizations in realizing their true potential. moving them forward.
                    </p> -->
                    <p data-animation="fadeInLeft" >By supporting recruitment for a wide range of industries across the Greater Montreal area, we have a deep understanding of the region’s job market and hiring environment. Whether you need remote or on-site staff, we can help. Our Montreal recruitment agencies provide personalized service and utilize matching technology that incorporates decades of placement data to help businesses find the right temporary or full-time professionals. From downtown Montreal to Laval, West Island, and beyond, companies of all types and sizes look to our staffing experts to help them find skilled job candidates. </p>

                </div>
                <div class="presentation-text">
                    
                </div>
            </div>
            
            <section id="services">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-12">
                            <div class="section-tittle text-center mb-105">
                                <h2>Services</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                       
        
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <i class="fas fa-chart-line icon-services" ></i>
                             
                            <h3 >Powerful Connections</h3>
                            <p>The ability to combine recruiting, employee screening, onboarding with payroll and other benefits services creates an efficient flow of data across your employee lifecycle.</p>    
                        </div>

                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <i class="fas fa-user-check icon-services" ></i>                              
                            <h3 >Service When you Need It</h3>
                            <p>What happens when you have a question? You’ll get answers when you need them and where you need them, online or over the phone from our 24/7 Dedicated Service Center.</p>    
                        </div>

                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <i class="fas fa-user-friends icon-services" ></i>                                 
                            <h3 >Dedicated HR Advice</h3>
                            <p>We give you the option ;to work directly with a dedicated HR professional who is familiar with your business to help explain your compliance obligations and provide input on how to keep your policies up to date.</p>    
                        </div>
                    </div>
                </div>
            </section>

            <section id="industries" class="content-inverse" >
                <div class="container">

                    <div class="row justify-content-center">
                        <div class="col-xl-12 col-lg-12">
                            <div class="section-tittle text-center mb-90">
                                <h2>Industries Served</h2>
                               
                            </div>
                        </div>
                    </div>
        
                    <div class="row justify-content-center">

                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="industry-card">
                                <div>
                                    <div class="flip-card">
                                        <div class="flip-card-inner">
                                            <div class="flip-card-front">
                                                <i class="fas fa-ambulance icon-industries"></i>
                                            </div>
                                            <div class="flip-card-back">
                                                <span class="fa-stack fa-2x" >
                                                    <i class="fas fa-circle fa-stack-2x " ></i>
                                                    <i class="fas fa-ambulance fa-stack-1x fa-inverse "></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <h4 class="service-tittle">Nursing</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="industry-card">
                                <div>
                                    <div class="flip-card">
                                        <div class="flip-card-inner">
                                            <div class="flip-card-front">
                                                <i class="fas fa-industry icon-industries"></i>
                                            </div>
                                            <div class="flip-card-back">
                                                <span class="fa-stack fa-2x" >
                                                    <i class="fas fa-circle fa-stack-2x " ></i>
                                                    <i class="fas fa-industry fa-stack-1x fa-inverse "></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <h4 class="service-tittle">Welding</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="industry-card">
                                <div>
                                    <div class="flip-card">
                                        <div class="flip-card-inner">
                                            <div class="flip-card-front">
                                                <i class="fas fa-truck-moving icon-industries"></i>
                                            </div>
                                            <div class="flip-card-back">
                                                <span class="fa-stack fa-2x" >
                                                    <i class="fas fa-circle fa-stack-2x " ></i>
                                                    <i class="fas fa-truck-moving fa-stack-1x fa-inverse "></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <h4 class="service-tittle">Driver</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="industry-card">
                                <div>
                                    <div class="flip-card">
                                        <div class="flip-card-inner">
                                            <div class="flip-card-front">
                                                <i class="fas fa-code icon-industries"></i>
                                            </div>
                                            <div class="flip-card-back">
                                                <span class="fa-stack fa-2x" >
                                                    <i class="fas fa-circle fa-stack-2x " ></i>
                                                    <i class="fas fa-code fa-stack-1x fa-inverse "></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <h4 class="service-tittle">Development</h4>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </section>
                    
            
            <section id="industries" class="content-inverse">

                <div class="container-fluid">

                    <div class="row justify-content-center ">

                        <div class="col-md-12 text-center">
                            <h2 class="">Partners Who Trust Us</h2>
                        </div>

                    </div>

                    <div class="row d-flex justify-content-center">

                        <div class="col-3 col-sm-3 d-flex ">
                            <div class="company-logo">
                                <img src="{% static '' %}admin/img/celestica.jpg" alt="My image">
                            </div>
                        </div>
                   
                        <div class="col-3 col-sm-3 d-flex ">
                            <div class="company-logo">
                                <img src="{% static '' %}admin/img/radial.jpg" alt="My image">
                            </div>
                        </div>

                        <div class="col-3 col-sm-3 d-flex ">
                            <div class="company-logo">
                                <img src="{% static '' %}admin/img/saje.png" alt="My image">
                            </div>
                        </div>

                        <div class="col-3 col-sm-3 d-flex ">
                            <div class="company-logo">
                                <img src="{% static '' %}admin/img/sci.jpg" alt="My image">
                            </div>
                        </div>

                    </div>
        
                </div>
           
            </section>  

            <section>

                {% for p in position %}
    
                    <div class="col">
                        
                        <div class="container" >
                            
                            <div class="row">
                                <div class="col-12 ">
                                    <a href="{{ p.get_absolute_url }}">{{p.slug}}</a>
                                                                   
                                </div>
    
                            </div>
    
                        </div>
                        
                    </div>

                {% endfor %}

            </section>

        {% endblock %}

    </body>

</html> 