{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>

<html>

    <head>  
    </head>

    <body class="content">

        {% block content %}
       
            <div class="content">
            <span class="fadeInLeft" style="color: #00bb2d; font-size: 1.3em; font-weight:600;">Find your next job now. </span>
            <h1 data-animation="fadeInLeft" data-delay=".6s ">Staffing and Recruiting Experts<br>in the Greater Montreal Area.</h1>
            <!-- <p data-animation="fadeInLeft" data-delay=".8s">we support people and organizations in realizing their true potential. moving them forward.
            </p> -->
            <p data-animation="fadeInLeft" data-delay=".8s">
                By supporting recruitment for a wide range of industries across the Greater Montreal area, we have a deep understanding of the region’s job market and hiring environment. Whether you need remote or on-site staff, we can help. Our Montreal recruitment agencies provide personalized service and utilize matching technology that incorporates decades of placement data to help businesses find the right temporary or full-time professionals. From downtown Montreal to Laval, West Island, and beyond, companies of all types and sizes look to our staffing experts to help them find skilled job candidates. 
            </p>
            
            <div class="slider-btns">
                
                <a data-animation="fadeInLeft" data-delay="1s" href="#services"
                    class="btn radius-btn mb-10">get started</a><br>
                
            </div>

            </div>

        {% endblock %}

    </body>

</html> 