{%  load static %}

<header>

    <div class="mainnav" style="margin-top: 30px;">

        <div style="margin: 0px 50px; position: relative;">
            <div style="font-size: 2.6em;">MY</div>
            <div style="font-size: 14px; position: absolute; bottom: -5px;">NewJob</div>
        </div>
        <!-- Header Start -->
        
        <nav style="display: flex; align-items: center; margin-right: 50px;">
            <ul id="navigation">
                <li><a href="#services">Services</a><div class="animated-line"></div></li>
                <li><a href="#industries">Industries</a><div class="animated-line"></div></li>
                <li><a href="#partners">Partners</a><div class="animated-line"></div></li>
                <li><a href="#open-positions">Open Positions</a><div class="animated-line"></div></li>
                <li><a href="#contact">Contact</a><div class="animated-line"></div></li>    
            </ul>
        </nav>
       
    </div>
            
    <!-- Mobile Menu -->
    <div class="col-12">
        <div class="mobile_menu"></div>
    </div>
                   
    <!-- Header End -->
</header>