{%  load static %}

<header>

    <div class="mainnav">

        <div style="font-size: 2.6em">
            <div>MY</div>
            <div style="font-size: 12px">NewJob</div>
        </div>
        <!-- Header Start -->
        
        <nav style="display: flex; align-items: center;">
            <ul id="navigation">
                <li><a href="#home">Home</a></li>
                <li><a href="#industries">Industries</a></li>
                <li><a href="#partners">Partners</a></li>
                <li><a href="#jobs">Jobs</a></li>
                <li><a href="#contact">Contact</a></li>    
            </ul>
        </nav>

    </div>
            
    <!-- Mobile Menu -->
    <div class="col-12">
        <div class="mobile_menu d-block d-lg-none"></div>
    </div>
                   
    <!-- Header End -->
</header>