{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="{% static '' %}admin/css/menu.css">
        <link rel="stylesheet" type="text/css" href="{% static '' %}admin/css/content.css"> 
        <link rel="stylesheet" type="text/css" href="{% static '' %}admin/css/fontawesome-all.min.css">  
        <link rel="stylesheet" type="text/css" href="{% static '' %}admin/css/slicknav.css">    
        <link rel="stylesheet" type="text/css" href="{% static '' %}admin/css/details.css">
    </head>

    <body >

        <section class="content"> 

            <div class="details-header">

                <div style="margin: 0px 50px; position: relative;">
                    <div style="font-size: 2.6em;">MY</div>
                    <div style="font-size: 14px; position: absolute; bottom: -5px;">NewJob</div>
                </div>
                <!-- Header Start -->
                
                <div >
                    <h3>Job Details</h3>
                </nav>
               
            </div>

        </section>

        <h3>Thank you for your interest in this position!</h3>
        <h4>We will contact you as soon as possible.</h4>

        <div style="width: 100%; height: 50px; background-color: black;"></div>
        
    </body>
</html>


