html, body {overflow-x:hidden;}

.content {
    background-color: black;
    color: white;
}

.content-inverse {
    background-color: white;
    color: black;
}

.presentation-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.presentation-text {
    width: 40%;
}

.fadeInLeft{
    -webkit-animation-name:fadeInLeft;
    animation-name:fadeInLeft;
}

@-webkit-keyframes fadeInLeft{
    0%{opacity:0;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0);}
    to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0);}
}

@keyframes fadeInLeft{
    0%{opacity:0;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0);}
    to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0);}
}

.icon-services {
    font-size: 5em;
    color: #00bb2d;
    filter: saturate(70%);
}

.icon-industries{
    font-size: 3em;
    color: #00bb2d;
    filter: saturate(70%);
}


.flip-card {
    background-color: transparent;
    width: 100%;
    perspective: 1000px;
}

.flip-card-inner {
    display: flex;
    justify-content: center;
    transition: transform 0.6s;
    transform-style: preserve-3d; 
}

.flip-card-front, .flip-card-back {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {background-color:white;}

.flip-card-back {
    background-color: white;
    transform: rotateY(180deg);
}

.industry-card {
    background-color: white;
    width: 250px;
    height: 200px;
    text-align: center;
    padding-top: 50px;
    border-radius: 20px;
    box-shadow: 0px 10px 20px 0px rgba(221, 221, 221, 1);
}

.industry-card:hover .flip-card-inner {transform: rotateY(180deg);}

.service-tittle {padding-top: 80px;}

.company-logo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.mobile-div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.mobile-div-centered {
    width: 100%;
}

.icon-info {
    display: inline-block;
    width: 50px;
    text-align: center;
    color: #00bb2d;
    filter: saturate(70%);
}

@media (max-width: 767px) {

    .mobile-div {
        padding: 20px 0px;
    }

    .mobile-div-centered {
        width: 90%;
    }
}