header {
    background-color: black;
    color: white;
}

nav > ul > li {
    display: inline-block;
}

a:visited {
    text-decoration: none;
}

nav > ul > li > a {
    color: white;
    margin: 0px 10px;
    transition: color 0.5s;
    text-decoration: none;
}

nav > ul > li:hover > a {
    color: #00bb2d;
    text-decoration: none;
}

.mainnav {
    display: flex;
    justify-content: space-between;
}

.animated-line {
    background-color: #00bb2d;
    height: 1px;
    width: 0%;
    transition: width 0.5s;
}

nav > ul > li:hover > .animated-line {
    width: 100%;
}

.mobile_menu {
    display: none;
    position: absolute;
    right: 0px;
    width: 100%;
}

.mobile_menu .slicknav_menu {
    background: transparent;
    margin-top: 0px;
}

.mobile_menu .slicknav_menu .slicknav_btn {
    top: -37px;
}

.mobile_menu .slicknav_menu .slicknav_nav {
    margin-top: 9px;
    background:#000000;
}

.mobile_menu .slicknav_menu .slicknav_nav a {
    font-size: 15px;
    padding: 7px 10px;
    color: white;
}

#navigation {
    display: block;
}

@media (max-width: 767px) {

    .mobile-div-centered {
        width: 90%;
    }

    .mobile_menu {
        display: block;
        color: white;
    }
    
    #navigation {
        display: none;
    }

}