header {
    background-color: black;
    color: white;
}

nav > ul > li {
    display: inline-block;
    text-decoration: none;
    color: white;
}

nav > ul > li > a, nav > ul > li > a:hover {
    color: white;
}

.mainnav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}